<?xml version="1.0" encoding="UTF-8"?>
<launch>
    
    <param name="/use_sim_time" value="true" />
    <env name="LC_NUMERIC" value="en_US.UTF-8" />
    <env name="LIBGL_ALWAYS_SOFTWARE" value="1" />
                
    <arg name="bagfile" default="$(dirname)/../2018-05-21-14-25-55.bag" doc="bagfile that is played"/>
    
    <node pkg="rosbag" type="play" name="rosbag_player_node" 
          args="$(arg bagfile) --clock -s 9 -l -r 1.0">
        <remap from="tf" to="tf_trash" />
        <remap from="/pcl" to="/tof/raw" />
    </node>
    
    <node pkg="tf" type="static_transform_publisher" name="tf_Sensor_static_publisher"   args="0 0 0 0 0 0 map ti3dtof_frame 10" />

    
    <include file="$(dirname)/filters.launch"/>
    
    <node pkg="rviz" 
          type="rviz" 
          name="rviz_tof"
          output="screen" 
          respawn="true"
          args="-d $(dirname)/../launch/config.rviz">
        
    </node>
  <!--
    <node pkg='rqt_plot'
          type='rqt_plot'  
          name='rqt_plot_qad' 
          args='mti/sensor/imu'/> -->
     
</launch>
