<?xml version="1.0" encoding="UTF-8"?>
<launch>
    
    <env name="LC_NUMERIC" value="en_US.UTF-8" />
    <env name="LIBGL_ALWAYS_SOFTWARE" value="1" />

    <!-- See https://github.com/3dtof/voxelsdk -->
    <arg name="VOXEL_SDK_PATH" default="/usr/local" doc="voxelsdk installation path"/>
    
    
    <!-- set a few environment variables  -->
    <env name="VOXEL_SDK_PATH" value="$(arg VOXEL_SDK_PATH)" />
    <env name="LD_LIBRARY_PATH" value="$(env LD_LIBRARY_PATH):$(arg VOXEL_SDK_PATH)/lib" />
    <env name="PYTHONPATH" value="$(arg VOXEL_SDK_PATH)/lib/python2.7:$(env PYTHONPATH)" />
    <env name="PATH" value="$(arg VOXEL_SDK_PATH)/bin:$(env PATH)" />
    
    <node pkg="tf" type="static_transform_publisher" name="tf_Sensor_static_publisher"   args="0 0 0 0 0 0 map ti3dtof_frame 10" />
    
    <node pkg="ti3dtof_sensor" 
          type="ti3dtof_publisher" 
          name="ti3dtof_publisher_node"
          output="screen" 
          required="True"
          args="">
         <remap from="/pcl" to="/tof/raw" /> 
         
         <param name="scan" value=""/>
         <param name="rate" value="5"/>
         <param name="hfov" value="74"/>
         <param name="vfov" value="59"/>
         <param name="width" value="320"/>
         <param name="height" value="240"/>
         <param name="profile" value="MetrilusLongRange"/>
<!--          <param name="profile" value="Long Range"/> -->
         <param name="TemporalMedianFilter/order" value="0"/>
         <param name="MedianFilter/halfKernelSize" value="0"/>
         <param name="FlypixFilter/threshold" value="500.0"/>
         <param name="BilateralFilter/sigma" value="0.0"/>
         <param name="DarkPixFilter/enable" value="False"/>
         
     </node> 
            
    <include file="$(dirname)/filters.launch"/>
    
    <node pkg="rviz" 
          type="rviz" 
          name="rviz_tof"
          output="screen" 
          respawn="true"
          args="-d $(dirname)/../launch/config.rviz">
    </node>
     
</launch>
